.field-label{
    font-weight: bold;
}

.submit-button{
    font-weight: bold;
    border: 2px solid black;
    background-color: black;
    color: white;
    transition: 1s;
}
.submit-button:hover{
    background-color: white;
    transition: 1s;
    color: black;
}

.register-input{
    height: 2em;
    margin-left: 2em;
}

.form-field{
    text-align: right;
}