.post-container {
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.post-input {
    height: 2em;
    margin-left: 2em;
}

.posst-form-container{
    display: flex;
    justify-content: center;
}
.post-form{
    text-align: right;
}