
.photo-grid{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(2,1fr);
}

.display-images{
    height: 100%;
    width: 100%;  
    transition: 1s;
}

.display-images:hover{
    filter: grayscale(100%);
    transition: 1s;
}