.nav{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
}

.home-button{
    grid-row: 1;
    grid-column: 2;
}
.username{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .temp-nav-one{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.temp-nav-two{
    grid-row: 2;
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */