.nav{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.username{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.sign-out{
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


